<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <script src="../_data/deps/vue.global.prod.js"></script>
    <script src="../_data/deps/connection.js"></script>
    <script src="../_data/deps/tailwind.min.js"></script>
    <link rel="stylesheet" href="../_data/deps/style.css">
</head>
<body>
<div id="main" class="relative h-[1080px] w-[1920px]">

    <video autoplay loop class="absolute top-0 left-0 -z-10">
        <source src="../_data/video/actions.mp4" type="video/mp4" />
    </video>

    <div id="header" class="flex h-[156px] w-full bg-red-300">

    </div>

    <div id="content" class="h-[720px] w-full bg-cyan-700 p-4 space-y-4 overflow-y-auto">

        <div v-for="modGroup in mods" :key="modGroup.mod" class="flex flex-wrap justify-center gap-3">
            <div
                v-for="map in modGroup.maps"
                :key="map.identifier"
                class="w-[550px] h-[60px] rounded-[20px] bg-green-900 border-3 text-center 
                    hover:translate-x-[2px] hover:translate-y-[2px] relative text-white font-eb text-[25px]"
                :class="stateStyles[pickState[map.identifier]], blinkState[map.identifier] ? 'blink-anim' : ''"
                @click="onPick($event, map.identifier, 'red')"
                @contextmenu.prevent="onPick($event, map.identifier, 'blue')"
            >
                {{ map.identifier }}
            </div>
        </div>
        
    </div>

    <div id="footer" class="flex h-[204px] w-full bg-yellow-300">

    </div>

</div>

<style>
    @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.6; }
    }
    .blink-anim {
        animation: blink 0.8s 3 ease-in-out;
    }
</style>

<script src="script.js"></script>
</body>
</html>