body {
    /* 禁用整個頁面的文字選取 */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
    user-select: none;         /* 標準語法 */
}

@font-face {
	font-family: 'ROG';
	src: url('../fonts/ROGFONTS-REGULAR.OTF');
}

@font-face {
	font-family: 'Lexend';
	src: url('../fonts/LexendDeca-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'TPSans-Bold';
	src: url('../fonts/TaipeiSansTCBeta-Bold.ttf');
}

@font-face {
	font-family: 'TPSans-Regular';
	src: url('../fonts/TaipeiSansTCBeta-Regular.ttf');
}

@font-face {
	font-family: 'TPSans-Light';
	src: url('../fonts/TaipeiSansTCBeta-Light.ttf');
}

@font-face {
	font-family: 'Maoken';
	src: url('../fonts/MaokenAssortedSans-TC.ttf');
}

.font-rog {
	font-family: 'ROG', 'Maoken', sans-serif;
}

.font-lexend-black {
	font-family: 'Lexend', sans-serif;
	font-weight: 700;
}

.font-lexend-regular {
	font-family: 'Lexend', sans-serif;
	font-weight: 400;
}

.font-tpsans-bold {
	font-family: 'TPSans-Bold', sans-serif;
}

.font-tpsans-regular {
	font-family: 'TPSans-Regular', sans-serif;
}

.font-tpsans-light {
	font-family: 'TPSans-Light', sans-serif;
}

.font-maoken {
	font-family: 'Maoken', sans-serif;
}

@keyframes scanline {
	0% { background-size: 100% 0%; }
	50% { background-size: 100% 100%; }
	100% { background-size: 100% 0%; }
}

.scanline {
	background-image: linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.75) 50%, transparent 100%);
	background-repeat: no-repeat;
	background-position: top;
	animation: scanline 5s linear infinite;
}